html
{
    background-color: rgb(95, 0, 2);
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
}

.container
{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: auto;
}

h1
{
    font-size: 60px;
    padding: 40px;
    margin: -20px 0px 60px 0px;
    border: 2px solid black;
    border-radius: 18px;
    box-sizing: content-box;
}

h2
{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.87);
    margin: 10px;
}

h3
{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: 2px underline;
}

.options
{
    margin-bottom: 30px;
}

#rock, #paper, #scissors
{
    width: 150px;
    height: 80px;
    font-size: 28px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(71, 0, 1);
    border-radius: 6px;
    box-shadow: 0 5px black;
    margin: 10px 40px;
    padding: 0px;
}

#rock:hover, #paper:hover, #scissors:hover
{
    background-color: rgb(43, 0, 1);
}

#rock:active, #paper:active, #scissors:active
{
    background-color: rgb(43, 0, 1);
    box-shadow: 0 5px rgb(26, 26, 26);
    transform: translateY(4px);
}

#scoreText
{
    display: flex;
    font-size: 20px;
}

#scoreText div
{
    margin: 5px 70px;
    font-weight: 550;
}

.scores
{
    display: flex;
}

#playerScore, #computerScore
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 0, 1);
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height: 70px;
    margin: 0px 30px;
    font-size: 25px;
    font-weight: bold;
}

#resultsText
{
    margin: 20px;
    font-weight: 550;
    font-size: 20px;
}

#roundResults
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 0, 1);
    border: 2px solid black;
    width: 520px;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
}

#playAgain
{
    width: 150px;
    height: 50px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 550;
    background-color: rgb(90, 90, 90);
    box-shadow: 0 2px rgb(61, 61, 61);
}

#playAgain:hover
{
    background-color: rgb(56, 56, 56);
}

#playAgain:active
{
    transform: translateY(2px);
}

a
{
    align-self: flex-end;
    padding: 80px 200px 0px 0px;
    font-size: 20px;
    color: black;
    text-decoration: underline black;
}

a:hover
{
    color: rgb(20, 20, 20);
    text-decoration: underline rgb(20, 20, 20);
}